<div class="container basket js-basket">
    <div data-bind="if: items().length > 0">
        <div><span data-bind="text: items().length"></span> item(s) in your basket.</div>
        <div data-bind="text: total"></div>
    </div>
    <div data-bind="if: items().length === 0">
        Your basket is empty.
    </div>

</div>

<div class="container">
    <div class="col-md-3">
        <ul>
            <li><a href="/#/my-details">My Details</a></li>
            <li><a href="/#/wishlist">Wishlist</a></li>
        </ul>
    </div>

    <div class="col-md-9 js-content">

    </div>
</div>