<div class="js-user-details">
    <h1>Personal Details</h1>
    <form class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-2 control-label">Address:</label>
        <div class="col-sm-10">
          <p class="form-control-static">
            <span data-bind="text: fullname"></span><br/>
            <span data-bind="text: address"></span>
          </p>
        </div>
      </div>

       <div class="form-group">
        <label class="col-sm-2 control-label">Phone:</label>
        <div class="col-sm-10">
          <p class="form-control-static" data-bind="text: telephone">
          </p>
        </div>
      </div>

     <div class="form-group">
        <label class="col-sm-2 control-label">Date of Birth:</label>
        <div class="col-sm-10">
          <p class="form-control-static" data-bind="text: dob">
          </p>
        </div>
      </div>

      <div class="form-group"> 
        <div class="col-sm-offset-2 col-sm-10"> 
            <button type="submit" class="btn btn-default">Edit Details</button> 
        </div> 
    </div>
     
    </form>
</div>