<div class="js-wishlists">
        <h1>Wishlist</h1>
        <table class="table">
            <caption>My wishlist overview.</caption>
            <thead>
                <tr>
                    <th><input type="checkbox" data-bind="checked: toggleAll" /></th>
                    <th colspan="2">
                        <button class="btn btn-primary" data-bind="click: sendEmail">Email Wishlist</button>
                    </th>
                    <th colspan="2">
                        <button class="btn btn-default" data-bind="click: removeAll">Remove all items</button>
                        <button class="btn btn-primary" data-bind="click: addSelectedToBasket">Add Selected to Basket</button>
                    </th>
                </tr>
            </thead>
            <tbody data-bind="foreach: items">
                <tr>
                    <th scope="row"><input type="checkbox" data-bind="checked: checked" /></th>
                    <td><img data-bind="attr: { src: image }" /></td>
                    <td data-bind="text: name"></td>
                    <td><strong data-bind="text: price"></strong></td>
                    <td>
                        <button class="btn btn-default" data-bind="click: $parent.removeItem">Remove</button>
                        <button class="btn btn-primary" data-bind="click: $parent.addBasket">Add to Basket</button>
                    </td>
                </tr>
            
            </tbody>    
             <tfoot>
                <tr>
                    <th><input type="checkbox" data-bind="checked: toggleAll" /></th>
                    <th colspan="2">
                        <button class="btn btn-primary" data-bind="click: sendEmail">Email Wishlist</button>
                    </th>
                    <th colspan="2">
                        <button class="btn btn-default" data-bind="click: removeAll">Remove all items</button>
                        <button class="btn btn-primary" data-bind="click: addSelectedToBasket">Add Selected to Basket</button>
                    </th>
                </tr>
            </tfoot>                                                            
        </table>

    </div>
</div>